body {
  background-color: #0f0f0f;
  margin: 0;
  padding: 0;
  font-family: "Inder", Arial, Helvetica, sans-serif;
}

.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
